.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 50px;
}

.sidenav ul {
    list-style: none;
    margin-left: -20px;
} 
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 200px;
    font-size: 18px;
    padding: 50px 10px;
}

.field-name, .field-holder{
  float: left;
}
.field-name{
  width: 300px;
  text-align: right;
  padding-right: 25px;
  line-height: 35px;
}
.field-holder{
  width: 300px;
}
.row{margin-bottom: 20px}
.form{margin-bottom: 15px}
button{margin-left: 520px}

.display-list{
  list-style: none;
  width: 1000px;
}
.display-list li.list-header{
  background-color: #72cdff;
}
.display-list li span{
  display: inline-block;
  width: 20%;
  padding: 5px 15px;  
}